################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StudioAdminWeb/.vs
/StudioAdminWeb/StudioAdminData/bin/Debug/net7.0
/StudioAdminWeb/StudioAdminData/obj
/StudioAdminWeb/StudioAdminWeb/bin/Debug/net7.0
/StudioAdminWeb/StudioAdminWeb/obj
/StudioAdminWeb/StudioAdminWeb/appsettings.json
/StudioAdminWeb/StudioAdminWeb/appsettings.Development.json
